name: CI

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: macos-15
    env:
      DEVELOPER_DIR: /Applications/Xcode_16.4.app/Contents/Developer
    steps:
      - uses: actions/checkout@v4
      - run: xcodebuild -version
      - run: swift build
      - run: swift test
